:root {
  --main-color: #0b0b0b;
  --color-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: var(--main-color);
  color: #333;
  line-height: 1.6;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: inherit;
}

@mixin tablet {
  @media only screen and (max-width: 48em) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
